APP_ENV=production
APP_URL=https://rokhdad.top
API_BASE_URL=https://rokhdad.top/api/v1
ADMIN_URL=https://rokhdad.top/admin

DOMAIN=rokhdad.top
LETSENCRYPT_EMAIL=admin@rokhdad.top

MARIADB_DATABASE=rokhdad
MARIADB_USER=rokhdad
MARIADB_PASSWORD=change-me
MARIADB_ROOT_PASSWORD=change-me
DATABASE_URL=mysql://rokhdad:change-me@mariadb:3306/rokhdad

MONGO_INITDB_ROOT_USERNAME=rokhdad
MONGO_INITDB_ROOT_PASSWORD=change-me
MONGODB_DATABASE=rokhdad_raw
MONGODB_URI=mongodb://rokhdad:change-me@mongodb:27017/rokhdad_raw?authSource=admin

REDIS_PASSWORD=change-me
REDIS_URL=redis://:change-me@redis:6379/0

SMSIR_API_KEY=change-me
SMSIR_TEMPLATE_ID_OTP=change-me
PAKETT_API_KEY=change-me

ZARINPAL_MERCHANT_ID=change-me
ZARINPAL_SANDBOX=true
ZIBAL_MERCHANT_ID=change-me

